
  <img src="assets/images/banner-pmoreno-01-inicia.jpeg" alt="" width="100%">
  <br>
&nbsp;

<nb-card>
  <nb-card-body>
    <nb-actions size="medium" fullWidth>

      <nb-action>
        <nb-icon class="action-icon" icon="search-outline"></nb-icon>
        <span>{{ txt_busca }}</span>
      </nb-action>

      <nb-action>
        <nb-icon class="action-icon" icon="upload-outline"></nb-icon>
        <span>{{ txt_sube }}</span>
      </nb-action>

      <nb-action>
        <nb-icon class="action-icon" icon="activity-outline"></nb-icon>
        <span>{{ txt_analiza }}</span>
      </nb-action>

    </nb-actions>
  </nb-card-body>
</nb-card>


<br><br><br><br>
<img src="assets/images/Logo_CodeStory4.png" id="logo" alt="" width="25%">

<!-- 
  Pacakge
https://akveo.github.io/eva-icons/#/ 
-->
